.home{
    color: #757575;
}

.hero{
    height: 700px;
    background-image: url('/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.shadow_back{
    height: 100%;
    width: 100%;
    color: #fff;
    background-color: #03A9F450;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shadow_back h1{
    text-align: center;
    width: 70%;
}

.shadow_back a{
    padding: 1em ;
    border-radius: 5px;
    font-weight: 700;
    color: #fff;
    background-color: #1b81e5;
}

.shadow_back a:hover{
    background-color: #607D8B;
}

.our_courses{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.our_courses h2{
    color: #000;
}

.courses{
    width: 90%;
    margin: 0 auto 1em;
    display: flex;
    flex-direction: column;
}

.video_home{
    width: 100%;
    height: 300px;
    background-color: #000;
    color: #fff;
}

.courses_list{
    width: 100%;
}

.courses_list ul li{
    width: 100%;
    border-bottom: solid 1px #757575;
    margin: 1em auto;
    padding: 1em 0;
    color: #000;
}

@media screen and (min-width: 768px){
    .courses{
        flex-direction: row;
        max-width: 720px;
    }

    .video_home{
        margin: 0 1em;
    }
}

@media screen and (min-width: 992px){
    .courses{
        max-width: 960px;
    }
}

@media screen and (min-width: 1200px){
    .courses{
        max-width: 1140px;
    }
}

