nav{
    background: rgb(2,136,209);
    background: linear-gradient(90deg, rgba(2,136,209,1) 18%, rgba(179,229,252,1) 100%);
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    font-family: 'Lato', sans-serif;   
}

.main_logo img{
    width: 150px;
    margin: 0 1em;
}

.main_logo a{
    display: block;
}

.desk_menu{
    display: none; 
}

.desk_menu li{
    margin: 0 1em;
    color: #fff;
}

.desk_menu li a{
    color: #fff;
}

.mov_menu {
    position: absolute;
    background: #fff;
    padding: 1em;
    width: 100px;
    right: 30px;
    text-align: center;
    z-index: 99;
}

#hamburger{
    display: none;
}

.mov_menu li{
    margin: 1.5em auto;
}

.mov_menu li a{
    color: #000;
}

@media screen and (min-width: 768px){
    .hamburger_menu{
        display: none;
    }

    .desk_menu{
        display: flex;
        flex-direction: row;
        
    }
}