nav{
    background: rgb(2,136,209);
    background: linear-gradient(90deg, rgba(2,136,209,1) 18%, rgba(179,229,252,1) 100%);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    font-family: 'Lato', sans-serif;   
}

.main_logo img{
    width: 150px;
    margin: 0 1em;
}

.main_logo a{
    display: block;
}

nav ul{
    display: flex;
    flex-direction: row;
    
}

nav ul li{
    margin: 0 1em;
    color: #fff;
}

nav ul li a{
    color: #fff;
}
